<h1>List of Chart Providers</h1>
<ul>
    <li>
        With Gem
        <ul>
            <li><strong><%= link_to 'highcharts-rails - (Active -> Please Click on this link)', high_chart_index_path %></strong></li>
            <li><%= link_to 'Chartkick - (In Active -> Coming Soon)', '/' %></li>
            <li><%= link_to 'gruff - (In Active -> Coming Soon)', '/' %></li>
            <li><%= link_to 'lazy_high_charts - (In Active -> Coming Soon)', '/' %></li>
            <li><%= link_to 'open_flash_chart - (In Active -> Coming Soon)', '/' %></li>
            <li><%= link_to 'google_visualr - (In Active -> Coming Soon)', '/' %></li>
            <li><%= link_to 'gnuplot - (In Active -> Coming Soon)', '/' %></li>
            <li><%= link_to 'googlecharts - (In Active -> Coming Soon)', '/' %></li>
        </ul>
    </li>
    <li>Without Gem</li>
</ul
