<h1>List of High Chart Types</h1>
<ul>
    <li><strong><%= link_to 'Line Charts - (Active -> Please Click on this link)', high_chart_line_charts_path %></strong></li>
    <li><%= link_to 'Area Charts - (In Active -> Coming Soon)', high_chart_area_charts_path %></li>
    <li><%= link_to 'Column And Bar Charts - (In Active -> Coming Soon)', high_chart_column_and_bar_charts_path %></li>
    <li><%= link_to 'Pie Charts - (In Active -> Coming Soon)', high_chart_pie_charts_path %></li>
    <li><%= link_to 'Scatter And Bubble Charts - (In Active -> Coming Soon)', high_chart_scatter_and_bubble_charts_path %></li>
    <li><%= link_to 'Combinations - (In Active -> Coming Soon)', high_chart_combinations_path %></li>
    <li><%= link_to 'Styled Mode - (In Active -> Coming Soon)', high_chart_styled_mode_path %></li>
    <li><%= link_to 'Accessible Charts - (In Active -> Coming Soon)', high_chart_accessible_charts_path %></li>
    <li><%= link_to 'Dynamic Charts - (In Active -> Coming Soon)', high_chart_dynamic_charts_path %></li>
    <li><%= link_to '3D Charts - (In Active -> Coming Soon)', high_chart_three_d_charts_path %></li>
    <li><%= link_to 'Gauges - (In Active -> Coming Soon)', high_chart_gauges_path %></li>
    <li><%= link_to 'Heat And Tree Maps - (In Active -> Coming Soon)', high_chart_heat_and_tree_maps_path %></li>
    <li><%= link_to 'More Chart Types - (In Active -> Coming Soon)', high_chart_more_chart_types_path %></li>
</ul>