<br />
<h1>Line_charts</h1>
<br />
<br />
<ul>
    <li>
        <h2><strong><u>Basic line</u></strong></h2>
        <%= render 'high_chart/line_charts/basic_line' %>
    </li>
    <li>
        <h2><strong><u>Ajax loaded data, clickable points</u></strong></h2>
        <%= render 'high_chart/line_charts/ajax_loaded_data' %>
    </li>
    <li>
        <h2><strong><u>Line chart with 500k points</u></strong></h2>
        <%= render 'high_chart/line_charts/with_500_k_points' %>
    </li>
    <li>
        <h2><strong><u>Logarithmic axis</u></strong></h2>
        <%= render 'high_chart/line_charts/logarithmic_axis' %>
    </li>
    <li>
        <h2><strong><u>Spline with inverted axes</u></strong></h2>
        <%= render 'high_chart/line_charts/spline_with_inverted_axes' %>
    </li>
    <li>
        <h2><strong><u>Spline with plot bands</u></strong></h2>
        <%= render 'high_chart/line_charts/spline_with_plot_bands' %>
    </li>
    <li>
        <h2><strong><u>Spline with symbols</u></strong></h2>
        <%= render 'high_chart/line_charts/spline_with_symbols' %>
    </li>
    <li>
        <h2><strong><u>Time data with irregular intervals</u></strong></h2>
        <%= render 'high_chart/line_charts/time_data_with_irregular_intervals' %>
    </li>
    <li>
        <h2><strong><u>Time series, zoomable</u></strong></h2>
        <%= render 'high_chart/line_charts/time_series_zoomable' %>
    </li>
    <li>
        <h2><strong><u>With annotations</u></strong></h2>
        <%= render 'high_chart/line_charts/with_annotations' %>
    </li>
    <li>
        <h2><strong><u>With data labels</u></strong></h2>
        <%= render 'high_chart/line_charts/with_data_labels' %>
    </li>
</ul>