<!DOCTYPE html>
<html>
  <head>
    <title>ChartsWithPdf</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
    <script src="https://code.highcharts.com/highcharts.js"></script>
    <script src="https://code.highcharts.com/highcharts-more.js"></script>

    <script src="https://code.highcharts.com/modules/annotations.js"></script>
    <script src="https://code.highcharts.com/modules/data.js"></script>
    <script src="https://code.highcharts.com/modules/drilldown.js"></script>
    <script src="https://code.highcharts.com/modules/exporting.js"></script>
    <script src="https://code.highcharts.com/modules/funnel.js"></script>
    <script src="https://code.highcharts.com/modules/heatmap.js"></script>
    <script src="https://code.highcharts.com/modules/no-data-to-display.js"></script>
    <script src="https://code.highcharts.com/modules/offline-exporting.js"></script>

    <script src="https://code.highcharts.com/themes/dark-blue.js"></script>
    <script src="https://code.highcharts.com/themes/dark-green.js"></script>
    <script src="https://code.highcharts.com/themes/gray.js"></script>
    <script src="https://code.highcharts.com/themes/grid.js"></script>
    <script src="https://code.highcharts.com/themes/skies.js"></script>
  </head>

  <body>
    <%= yield %>
 
  </body>
</html>
